body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /*background-color: #1e1e1e;*/
}
.navbar {
  background-color: #333;

  height: 100%;
  display: flex;
}
.navbar nav {
  width: fit-content;
  height: 100%;
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar ul li {
  display: inline;
  float: left;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  line-height: 70px;
  padding: 0 15px;
  display: block;
}
main {
  padding: 20px;
  flex: 1;
}
.profile-image {
  width: 200px;
  border-radius: 50%;
}
.football {
  width: 200px;
  height: auto;
}
.real-madrid {
  width: 150px;
  height: auto;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
